openapi: 3.0.3
info:
  title: Akismet API
  version: 1.0.0
servers:
  - url: https://rest.akismet.com/1.1
externalDocs:
  description: Akismet Developers Documentation
  url: https://akismet.com/developers
paths:
  /verify-key:
    post:
      summary: Verify Akismet API key
      description: |
        Verifies the provided Akismet API key to check its validity and ensure it can be used for API requests.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key:
                  type: string
                blog:
                  type: string
              required:
                - key
                - blog
      responses:
        '200':
          description: Key verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    description: Indicates if the key is valid or not.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the encountered error.
      tags:
        - Key Verification
  /comment-check:
    post:
      summary: Check comment for spam
      description: |
        Checks a comment against the Akismet spam database to determine if it is spam or not.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: The Akismet API key for authorization.
                blog:
                  type: string
                  description: The front page or home URL of the instance making the request.
                user_ip:
                  type: string
                  description: The IP address of the comment submitter.
                user_agent:
                  type: string
                  description: The user agent string of the comment submitter's browser.
                referrer:
                  type: string
                  description: The referring URL.
                permalink:
                  type: string
                  description: The permanent URL of the entry the comment was submitted to.
                comment_type:
                  type: string
                  description: The type of the comment.
                comment_author:
                  type: string
                  description: |
                    The name of the comment author.
                    
                    You can send "akismet-guaranteed-spam" to trigger a spam response for testing purposes.
                comment_author_email:
                  type: string
                  description: The email address of the comment author.
                comment_author_url:
                  type: string
                  description: The URL of the comment author.
                comment_content:
                  type: string
                  description: The content of the comment.
              required:
                - api_key
                - blog
                - user_ip
      responses:
        '200':
          description: Comment check successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  spam:
                    type: boolean
                    description: Indicates if the comment is classified as spam or not.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the encountered error.
      tags:
        - Comments
  /submit-spam:
    post:
      summary: Submit Spam
      description: |
        Submits a comment as spam to Akismet for retraining.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: The Akismet API key for authorization.
                blog:
                  type: string
                  description: The front page or home URL of the instance making the request.
                user_ip:
                  type: string
                  description: The IP address of the comment submitter.
                user_agent:
                  type: string
                  description: The user agent string of the comment submitter's browser.
                comment_author:
                  type: string
                  description: |
                    The name of the comment author. Please provide a name or pseudonym.
                comment_author_email:
                  type: string
                  description: The email address of the comment author.
                comment_author_url:
                  type: string
                  description: The URL of the comment author.
                comment_content:
                  type: string
                  description: The content of the comment.
                permalink:
                  type: string
                  description: The permanent URL of the entry where the comment was submitted.
                comment_type:
                  type: string
                  description: The type of the comment. Accepted values are "comment", "trackback", "pingback", or a custom type.
                comment_date_gmt:
                  type: string
                  format: date-time
                  description: The GMT date and time the comment was created.
                comment_post_modified_gmt:
                  type: string
                  format: date-time
                  description: The GMT date and time the post containing the comment was last modified.
                comment_parent:
                  type: string
                  description: The ID of the parent comment, if applicable.
                referrer:
                  type: string
                  description: The referrer URL of the comment submitter.
                user_role:
                  type: string
                  description: The role of the comment submitter.
                is_test:
                  type: boolean
                  description: Indicates whether the submission is a test. Default is false.
                recheck_reason:
                  type: string
                  description: The reason for rechecking the comment.
                honeypot_field_name:
                  type: string
                  description: The name of the honeypot field.
                comment_context:
                  type: string
                  description: The context or location of the comment within the website.
              required:
                - api_key
                - blog
                - user_ip
      responses:
        '200':
          description: Spam submission successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the encountered error.
      tags:
        - Training
  /submit-ham:
    post:
      summary: Submit Ham (False Positives)
      description: |
        Submits a false positive (legitimate comment marked as spam) to Akismet for training purposes.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: The Akismet API key for authorization.
                blog:
                  type: string
                  description: The front page or home URL of the instance making the request.
                user_ip:
                  type: string
                  description: The IP address of the comment submitter.
                user_agent:
                  type: string
                  description: The user agent string of the comment submitter's browser.
                comment_author:
                  type: string
                  description: |
                    The name of the comment author. Please provide a name or pseudonym.
                comment_author_email:
                  type: string
                  description: The email address of the comment author.
                comment_author_url:
                  type: string
                  description: The URL of the comment author.
                comment_content:
                  type: string
                  description: The content of the comment.
                permalink:
                  type: string
                  description: The permanent URL of the entry where the comment was submitted.
                comment_type:
                  type: string
                  description: The type of the comment. Accepted values are "comment", "trackback", "pingback", or a custom type.
                comment_date_gmt:
                  type: string
                  format: date-time
                  description: The GMT date and time the comment was created.
                comment_post_modified_gmt:
                  type: string
                  format: date-time
                  description: The GMT date and time the post containing the comment was last modified.
                comment_parent:
                  type: string
                  description: The ID of the parent comment, if applicable.
                referrer:
                  type: string
                  description: The referrer URL of the comment submitter.
                user_role:
                  type: string
                  description: The role of the comment submitter.
                is_test:
                  type: boolean
                  description: Indicates whether the submission is a test. Default is false.
                recheck_reason:
                  type: string
                  description: The reason for rechecking the comment.
                honeypot_field_name:
                  type: string
                  description: The name of the honeypot field.
                comment_context:
                  type: string
                  description: The context or location of the comment within the website.
              required:
                - api_key
                - blog
                - user_ip
      responses:
        '200':
          description: Ham submission successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the encountered error.
      tags:
        - Training